{% extends "CheckStatus/header.html" %}
{% block pageTitle %}
<div class="jumbotron">
 <h1 p class="text-center">As someone POTENTIALLY carrying the {{ epidemic_name }} pathogen, you are under quarantine as a protective measure until you are no longer a threat to us all. If you comply with this house arrest you will get a gold star. </p /h1>
 </div>
{% endblock %}


{% block content %}
<footer>
<center>
<div class="col-xs-12 button-wrapper">
<a href="/CheckStatus/ShowHistory" class="btn btn-success btn-lg">
<span class="glyphicon glyphicon-book"></span> Epidemic History
</a>
<a href="/CheckStatus/StartOver" class="btn btn-danger btn-lg">
<span class="glyphicon glyphicon-remove"></span> Leave
</a></div>
</center>
</footer>
{% endblock %}
