.button-wrapper .btn {
    margin-bottom:5px;
    width: 235px;    
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#inner {
  width: 50%;
  margin: 0 auto;
}

.img-wrapper .img {
    margin-bottom:5px;
    width: 235px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
