
<form method="post" action="{% url 'customize_compartment_model' %}?compartment_model=SEIS">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Susceptible-Exposed-Infectious-Susceptible Model</h4>
  </div>
 <div class="modal-body">
	<h4>
	Susceptible players become infectious upon contact and become immune upon recovery. However, they also become susceptible as immunity wanes.
	<br>IRL examples: <br> influenza
	</h4>
	</div>
    <div class="modal-footer">
	<center>
	{% include 'SetupEpidemic/includes/partial_SEIS_model_form.html' %}
	</center>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" data-url="{% url 'submit_compartment' %}" name="confirm_SEIS">Done!</button>
  </div>
</form>
