<!--Based on: https://github.com/sibtc/simple-ajax-crud */-->

<form method="post" action="{% url 'customize_compartment_model' %}">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Susceptible-Infectious Model</h4>
  </div>
 <div class="modal-body">
	<h4>
	Susceptible players become infectious upon contact and remain so for the duration of the epidemic.
	<br>IRL examples: <br> zombie apocalypse
	</h4>
	</div>
    <div class="modal-footer">
	<center>
	{% include 'SetupEpidemic/includes/partial_SI_model_form.html' %}
	</center>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary"  data-url="{% url 'submit_compartment' %}" name="confirm_SI">Done!</button>
  </div>
</form>
